<div class="cards">
  <div class="container">
    {% if partial.class %}
    <div class="row">
      <h2 class="{{partial.class}}">{{_(doc.titles('nav'))}}</h2>
    </div>
    {% endif %}
    <div class="row">
      <ul class="cards__content">
      {% for card in partial.cards %}
      <li class="col-sm-4 cards__card">
        <div class="cards__card__image event__images">
          <img class="event__image" src="{{g.static(card.image).url.path}}" alt="">
        </div>
        <h3 class="cards__card__title">{{_(card.title)}}</h3>
        <p class="cards__card__description">{{_(card.description)}}</p>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>