<div class="components">
  <div class="container">
    <div class="row">
      <h3 class="components__title">{{_(partial.title)}}</h3>
    </div>
    <div class="row">
      <ul class="components__container">
        {% for item in partial.list %}
        <li class="col-sm-6 components__item">
          <h5 class="components__type">{{_(item.type)}}</h5>
          <div class="components__body">
            <p class="components__heading">{{_(item.heading)}}</p>
            <p class="components__description">{{_(item.description)}}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div> 