<div class="event">
  <div class="container">
    {% if partial.class %}
    <div class="row">
      <h2 class="event__heading">{{_(doc.titles('nav'))}}</h2>
    </div>
    {% endif %}
    <div class="row event__content__title">
      {% for column in partial.columns %}
        {% set classColumn = "" %}
        {% if partial.class %}
          {% if loop.index == 1 %}
          {% set classColumn = "col-sm-8" %}
          {% else %}
          {% set classColumn = "col-sm-4" %}
          {% endif %}
        {% else %}
        {% set classColumn = "col-sm-6" %}
        {% endif %}
        <div class="{{classColumn}}">
          <h3 class="event__title">{{_(column.title)}}</h3>
          <div class="{{partial.class if loop.index == 1}}">
            {% if column.details %}
            <div class="event__details">
              {% for detail in column.details %}
              <p class="{{"event__description" if loop.index == 1}}">{{_(detail.detail)}}</p>
              {% endfor %}
            </div>
            {% endif %}
            {% if column.events %}
            <ul class="event__list">
              {% for event in column.events %}
              <li class="event__list__item">
                <a class="event__list__link" href="{{event.url}}">{{_(event.text)}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if column.image %}
            <div class="row event__images">
              <img class="event__image" src="{{g.static(column.image).url.path}}" alt="">
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>