<div class="feature">
  <div class="container">
    <div class="row">
      <h3 class="feature__title">{{_(partial.title)}}</h3>
    </div>
    <ul class="row feature__grids">
      {% for item in partial.grids %}
      <li class="col-sm-4">
        <div class="feature__grids__card {{item.class}}">
          <div class="feature__grids__icon">
            <i class="{{ item.icon }}" aria-hidden="true"></i>
          </div>
          <div class="feature__grids__title">{{_(item.title)}}</div>
          <div class="feature__grids__description">{{_(item.description)}}</div>
        </div>
      </li>
      {% endfor %}
    </div>
  </div>
</div>