<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 header__logo">
        <a href="{{ g.doc('/content/pages/index.yaml').url.path }}" class="header__heading">
          <h1>Wines</h1>
        </a>
      </div>
      <div class="col-sm-8 header__nav">
        <ul class="header__nav__container">
          {% for link in partial.nav %}
          <li class="header__nav__item">
            <a href="{{ link.url.path }}" class="header__nav__item--link {{ "header__nav__item--link-active" if doc.url.path == link.url.path }}">{{ _(link.titles('nav')) }}</a>
          </li>
          {% endfor %}
        </ul>
        <select class="header__nav__translate form-control" onchange="window.location.href = this.value">
          {% for locale in doc.locales %}
          <option
            {% if doc.locale == locale %} selected{% endif %}
            value="{{g.doc(doc.pod_path, locale=locale).url.path}}">
              {{locale.get_display_name(locale)}}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>