<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 hero__container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% for item in partial.products %}
            <div class="item {{"active" if loop.index == 1}}">
              <img src="{{g.static(item.image).url.path}}" alt="">
              <div class="carousel-caption">
                <h2 class="hero__title">{{ _(item.title)}}</h2>
                <p class="hero__description">{{ _(item.description) }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>