<div class="maps">
  <div class="container">
    <div class="row">
        <h2 class="maps__heading">{{partial.title}}</h2>
    </div>
    <div class="row">
      <div class="maps__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.6815333604613!2d108.22049775097791!3d16.030085388850623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219ee2a68a37f%3A0xbb2654772f9e4baf!2zNjA0IE7DumkgVGjDoG5oLCBI4bqjaSBDaMOidSwgxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1498028736763" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>