<div class="products">
  <div class="container">
    <div class="row">
      {% for item in partial.products %}
      <div class="col-sm-4">
        <figure class="products__item">
          <img class="products__item__image" src="{{g.static(item.background).url.path}}" alt="">
          <figcaption class="products__caption">
            <h3>{{item.title}}</h3>
            <p>{{item.subtitle}}</p>
            <a class="products__caption__link" href="{{item.cta.url}}">{{item.cta.text}}</a>
            <p>{{item.year}}</p>
          </figcaption>
        </figure>
      </div>
      {% endfor %}
    </div>
  </div>
</div>