.cards {
  padding: 50px 0 60px;
  
  .cards__title {
    font-size: 48px;
    color: #8e0000;
    text-align: center;
    padding-bottom: 48px;
  }

  .cards__card {
    color: gray;
    margin-bottom: 20px;
  }

  .cards__card__title {
    color: #8e0000;
    font-size: 26px;
  }

  .cards__card__description {
    line-height: 1.8em;
    font-size: 18px;
  }
}