.header {
  background-color: #eae089;

  .header__logo {
    margin: 0 auto;
    text-transform: uppercase;
  }

  .header__heading {
    color: $color-red-berry;
    font-size: 24px;
  }

  .header__nav__container {
    display: flex;
    list-style-type: none;
    padding: 10px 20px;
  }

  .header__nav__item {
    margin: 20px;
    font-size: 18px;
  }

  .header__nav__item--link {
    color: black;
    
    &-active {
      color: $color-red-berry;
      border-bottom: 2px solid $color-red-berry;
      padding-bottom: 15px;
    }
  }
}