.products {
  padding: 60px 0 75px;

  .products__item {
    position: relative;
    width: 350px;
    height: 245px;
    overflow: hidden;
    margin-bottom: 35px;

    &:hover {
     .products__caption {
        top: 0;
        background-color: rgba(234, 224, 137, 0.5);
     } 
    }
  }

  .products__item__image {
    width: 100%;
    height: 100%;
  }

  .products__caption {
    position: absolute;
    top: 57%;
    color: #fff;
    padding-left: 20px;
    width: 100%;
    line-height: 2.8em;
    height: 100%;
    transition-duration: 0.5s;
  }

  .products__caption__link:hover {
    color: #f1b458;
  }
}